@tailwind base;
@tailwind components;
@tailwind utilities;

.swiper-button-prev,
.swiper-button-next{
  background: #ccc;
  border-radius: 50%;
  width: 40px !important;
  height: 40px !important;
}
.swiper-button-prev::after,
.swiper-button-next::after{
  color: #777;
  font-size: 2rem;
  transform: scale(.5);
}

.svg{
  display: block;
  margin: 0;
  max-width: 100%;
}

.svg-circle-bg {
  fill: none;
}

.svg-circle {
  fill: none;
}

.svg-circle-text {
  font-size: 2rem;
  text-anchor: middle;
  fill: #40DFEF;
  font-weight: bold;
}

.navlinks .active{
  color: #40DFEF;
  border-bottom: 2px solid #40DFEF;
  transition: all .5s ease-in-out;
}
.footer{
  background: url('./asset/footer-bg.jpg');
  background-size: cover;
}
.movie-header{
  background: url('./asset/footer-bg.jpg');
  background-position: top;
}

.not-found{
  background: url('./asset/404.jpg');
  background-size: cover;
}


@media screen and (min-width: 768px) {
  .btn{
    border: transparent;
  }
  .btn::after{
    content: '';
    position: absolute;
    width: 30%;
    height: 30%;
    top: 0;
    left: 0;
    border-top: 1px solid #fff;
    border-left: 1px solid #fff;
    transition: all .5s ease-in-out;
  }
  .btn::before{
    content: '';
    position: absolute;
    width: 30%;
    height: 30%;
    bottom: 0;
    right: 0;
    border-right: 1px solid #fff;
    border-bottom: 1px solid #fff;
    transition: all .5s ease-in-out;
  }
  .btn:hover::after,
  .btn:hover::before{
    width: 100%;
    height: 100%;
  }
}